---
layout: default
title: Home
cover: false
about: 'about.html'
---

<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}
        <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description">
                {% if site.description %} {{ site.description }}. {% endif %}

	        <ul class="nav" style="list-style-type: none; margin-left: 90px; padding: 0;
	    overflow: hidden;">
	        <!-- Loop through the navigation items -->
	        <li class="nav-home" style="float: left;"><a href="http://zerodaysec.net/about.html" style="display: block;
	    color: #2E2E2E;
	    font-family: Merriweather;
	    text-align: center;
	    font-family: Merriweather;
	    padding: 30px;
	    text-decoration: none;">     /about</a></li>
                <li class="nav-pwn4food" style="float: left;"><a href="https://ctftime.org/team/48829" style="display: block;
	    color: white;
	    text-align: center;
	    padding: 20px;
	    color: #2E2E2E;
	    font-family: Merriweather;
	    text-decoration: none;">/wubalubadubdub</a></li>
	        <li class="nav-keybase" style="float: left;"><a href="https://medium.com/@jhow.marton" style="display: block;
	    color: white;
	    text-align: center;
	    padding: 40px;
	    color: #2E2E2E;
	    font-family: Merriweather;
	    text-decoration: none;">/medium</a></li>
	        <li class="nav-github" style="float: left;"><a href="https://github.com/syr0x" style="display: block;
	    color: white;
	    text-align: center;
	    padding: 60px;
	    color: #2E2E2E;
	    font-family: Merriweather;
	    text-decoration: none;">/github</a></li>
	        <li class="nav-twitter" style="float: left;"><a href="https://twitter.com/_JhowXD" style="display: block;
	    color: white;
	    text-align: center;
	    padding: 80px;
	    color: #2E2E2E;
	    font-family: Merriweather;
	    text-decoration: none;">/twitter</a></li>
	        <!-- End the loop -->
	        <!-- End the loop -->
	        </ul>

            </h2>
        </div>


    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>


<main id="content" class="content" role="main">

    <div class="extra-pagination inner">
        {% include pagination.html %}
    </div>

    {% for post in paginator.posts %}

    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        </header>
        <section class="post-excerpt">
            {{ post.excerpt }} <a class="read-more" href="{{ post.url }}">&raquo;</a>
        </section>
        <footer class="post-meta">
            {% if site.author %}
                <img class="author-thumb" src="/assets/images/profile.png" alt="Author's profile picture" nopin="nopin" />
                {{ site.author }}
            {% endif %}
            {% if post.categories.size > 0 %} 
                {{ post.categories | array_to_sentence_string | prepend: 'on ' }} 
            {% endif %}
            <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
                {{ post.date | date_to_string }}
            </time> 
        </footer>
    </article>

    {% endfor %}

    {% include pagination.html %}

</main>
